<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>AngularJs</title>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet"/>

  <style type="text/css">

   table th{cursor: pointer;}
  </style>
<body ng-app="minmax">

<div class="container main-content" ng-controller="MinMaxCtrl">
<form role="form"  ng-submit="onSubmit(theFrom.$valid)" novalidate="novalidate"  name="theFrom">

	<div class="form-group">
		<label for="name">Name</label>
		<input type="text" class="form-control" name="name" id="name" ng-model="formModel.name">
	</div>
   
    <div class="form-group" 
         ng-class="
                   {'has-error':!theFrom.email.$valid && (!theFrom.$pristine || theForm.$submitted),
                   'has-success':theFrom.email.$valid && (!theFrom.$pristine || theForm.$submitted)}

                   ">
	<label for="email">Email</label>
    <input type="email" name="email" id="email" class="form-control" ng-model="formModel.email" required="required" title="">
        <p ng-show="theFrom.email.$error.required && (!theFrom.$pristine || theForm.$submitted)"> Email Adress is required</p>
        <p ng-show="theFrom.email.$error.email  && (!theFrom.$pristine || theForm.$submitted) ">Enter valid Email Adress</p>

	</div>

        <div class="form-group">
		<label for="username">Username</label>
    <input type="text" name="" id="username" class="form-control" ng-model="formModel.username" required="required" title="">
	</div>

           <div class="form-group">
		<label for="age">Age</label>
    <input type="text" name="" id="age" class="form-control" ng-model="formModel.age" required="required" title="">
	</div> 
    
    
           <div class="form-group">
		<label for="gender">Gender</label>
        <select name="" id="input" class="form-control" ng-model="formModel.gender"  required="required">
              <option value="">Select</option>
              <option value="M">Male</option>
              <option value="F">Female</option>

        </select>

    
    </div> 
    	<div class="form-group">
		<label for="password">Password</label>
    <input type="password" name="" id="password" class="form-control" ng-model="formModel.password" required="required" title="">
	</div>




	<button type="submit" class="btn btn-primary">Register</button>
</form>
<pre>{{theFrom|json}}</pre>
    
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.1/angular.min.js"></script>

    
   <script type="text/javascript" src ="js/app_from_validation.js"></script>
</body>
</html>